@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
}
.main_div {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 3rem auto;
    border-radius: 12px;
    background-color: rgba(173, 173, 173, 0.363);
    box-shadow: 5px 10px 8px 10px #888888;
    padding: 1rem;
}

.inside_div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.image_class{
    background-image: url('./image/21421.jpg');
}


input,select{
    width: 25rem;
    padding: .4rem;
}
button{
    width: 10rem;
}
label{
    font-weight:500 ;
}




.topic_main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.topic_sub{

    width: 200px;
    height: 200px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

}


.topic_sub_1{
    background-color: coral;
}

.topic_sub_2{
    background-color: rgb(238, 44, 135);
}
.topic_sub_3 {
    background-color: rgb(57, 167, 57);
}

.topic_sub_4{
    background-color: aquamarine;
}

.topic_sub_5{
    background-color: crimson;
}

.topic_sub_6{
    background-color: violet;
}

.topic_sub_7{
    background-color: lightsalmon;
}

.topic_sub_8{
    background-color: khaki;
}

.topic_sub:hover{
    background-color: rgba(167, 167, 167, 0.39);
}

.radio_input{
    width: 23px;
}

.exam_button{
    width: 100px;
}

.radio_input_lable{
    font-size: 1.1rem;
}


.exam_sub_div{
    padding: .9rem;
}
.exam_main_div{

display: flex; 
align-items: center; 
justify-content: center;
flex-direction: column;
flex-wrap: wrap;
margin: 2rem 10rem;
background-color: beige;
padding: 2rem;
border-radius: 8px;

}

.student_sub_div{

    background-color: rgba(84, 235, 184, 0.623); padding: 0.4rem; margin: 1rem;border-radius: 8px;
}

.bg-dark {
    background-color: #343a40 !important;
}

@media only screen and (max-width:770px) {
        .exam_main_div {

            margin: 2rem 2rem;

        }

        .radio_input_lable {
            font-size: 1rem;
        }

}

@media only screen and (max-width:1028px) {
    .log_input {

      width: 110%;

    }



}


@media only screen and (max-width:492px) {
        
    .main_div {
        padding: 2rem;
        width: 70%;
    } 



    }