@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
    min-height: 130vh;
    
}

.main_div{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin:  3rem auto; 
    border-radius: 12px;
    background-color: honeydew;
    background-color: rgba(173, 173, 173, 0.363);
    box-shadow: 5px 10px 8px 10px #00000059;
    padding: 1rem;
}

.inside_div{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

input,select{
    width: 25rem;
    padding: .4rem;
}
button{
    width: 10rem;
}
label{
    font-weight:500 ;
}

.admin_main{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.admin_sub{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: .5rem;

}

#btns{
    width: 50%;
    margin: auto;
}

.class_topic_table{
    margin-left: 4rem;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    
}

@media only screen and (max-width:1028px) {
    .log_input {

        width: 110%;

    }
    body{
         background-image: linear-gradient(to right, red, yellow);
    }



}


@media only screen and (max-width:600px) {

    .admin_input{
        width: 120%;
    }
    .class_topic_table {
        margin-left: 1rem;
        margin-top: 2rem;
    }

}


@media only screen and (max-width:492px) {

    .main_div {
        padding: 2rem;
        width: 70%;
    }



}

