@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.521);
    background: #00b09b;  
    background: -webkit-linear-gradient(to right, #96c93d, #00b09b); 
    background: linear-gradient(to right, #96c93d, #00b09b);  
}

.bgg-light {
    background-color: #51ccb700 !important;
}




/* login page css */



.login_sub_div{
    background: white;
    box-shadow: 3px 5px 6px 10px #d83c0038;
    padding: 2rem;
    height: 90%;
    width: 30%;
    margin: 2rem auto;
    border-radius: 12px;
}

.login_div{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 2rem;
}
input[class=log_input]{
    width: 100%;
    padding: .4rem;
    border: 1px coral solid;
    border-radius: 16px;
}
input[class=log_input]:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
    
 }
strong{
    font-size: 2rem;
}
p{
    font-size: .9rem;
}

button[name=login]{
    width: 100%;
    background: #00b09b;  
    background: -webkit-linear-gradient(to right, #96c93d, #00b09b); 
    background: linear-gradient(to right, #96c93d, #00b09b); 

    border: none;
    border-radius: 16px;
}   
/* login page css done */

/* admin page css start */
.admin_main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: .5rem auto;
    
}
.admin_sub{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: .5rem;

}

input[class=admin_input]{
    border: 1px rgb(38, 224, 94) solid;
    border-radius: 16px;
}
input[class=admin_input]:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
    
 }

input,select{
    width: 25rem;
    padding: .4rem;
}
button{
    width: 10rem;
    margin: auto;
}
label{
    font-weight:500 ;
}



#btns{
    width: 50%;
    margin: auto;
    padding-bottom: 3rem;
}

.class_topic_table{
    margin-left: 4rem;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background: rgba(24, 214, 110, 0.13) !important;   
}
td{
    color: rgb(0, 0, 0) !important;
}
a[name=update]{
    padding: .5rem ;
    background-color: green !important;
    color : white !important;
    border: none;
    border-radius: 16px;
}
a[name=delete]{
    padding: .5rem ;
    background-color: rgb(233, 27, 27) !important;
    color : white !important;
    border: none;
    border-radius: 16px;
}

/* admin page css done */


@media only screen and (max-width:1028px) {
    .log_input {

        width: 110%;

    }
    
    .login_sub_div{
        width: 40%;
        margin: 4rem auto;
    
    }


}

@media only screen and (max-width:770px) {
        
    .login_sub_div{
        width: 50%;
        padding: .5rem;
        height: 80%;
        margin: 4rem auto;
    }

}

@media only screen and (max-width:600px) {

    .admin_input{
        width: 120%;
    }
    .class_topic_table {
        margin-left: 1rem;
        margin-top: 2rem;
    }

}


@media only screen and (max-width:492px) {

   
    .login_sub_div{
        width: 70%;
        padding: .5rem;
    }



}

